@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('./fonts/inter.ttf');
}

* {
  font-family: Inter;
}

div,
main,
button {
  @apply transition;
}

.dark-theme {
  background-color: #0a0b0d;
}

.dark-theme main {
  background-color: #213140;
}

.dark-theme #Logo {
  color: #91c4d9;
}

.dark-theme #Switch-Container {
  background-color: #0a0b0d;
}

.light-theme {
  background-color: white;
}

.light-theme main {
  background-color: #dbf991;
}

.light-theme #Logo {
  color: #9c8f13;
}

.light-theme #Switch-Container {
  background-color: white;
}
