@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('./fonts/inter.ttf');
}

* {
  font-family: Inter;
}

div,
main,
button {
  @apply transition;
}

.dark-theme {
  background-color: #0a0b0d;
}

.dark-theme main {
  background-color: #213140;
}

.dark-theme #Logo {
  color: #91c4d9;
}

.dark-theme .switch-container {
  background-color: #0a0b0d;
}

.dark-theme .screen-container {
  color: white;
  background-color: #73a2bf;
}

.dark-theme .screen-container .operation {
  color: #ffffff99;
}

.dark-theme .calculator-btn {
  background-color: #73a2bf;
  color: white;
}

.dark-theme .calculator-btn:hover {
  background-color: #446478;
}

.light-theme {
  background-color: white;
}

.light-theme main {
  background-color: #dbf991;
}

.light-theme #Logo {
  color: #9c8f13;
}

.light-theme .switch-container {
  background-color: white;
}

.light-theme .screen-container {
  color: #9c8f13;
  background-color: #fffbfa;
}

.light-theme .screen-container .operation {
  color: #9c8f1399;
}

.light-theme .calculator-btn {
  background-color: #fffbfa;
  color: #9c8f13;
}

.light-theme .calculator-btn:hover {
  background-color: #dfea68;
}
